
# Data files
*.db
*.bin

# Venvs
venv/
*.venv

# Caches
*.vscode
*__pycache__*
*.pytest_cache

# Logs
flask/logs/*
*.log

# Other 
*.pyc
*.pyo
access_token.txt
models/*.gguf
llama-cpp-python-anay/*
test_dir/*
*.ipynb


